{% extends "layout.html" %}
{% block content %}
<div class="col-md-4">
</div>
<div class="col-md-4">
	<h1>Log In</h1>

	{% if msg %}
	<p>{{ msg }}</p>
	{% endif %}

	<form class="form" action="{{ url_for('do_login') }}" method="post">
		<div class="form-group">
			<label for="username">Username:</label>
			<input class="input-sm" type="text" name="username" />
		</div>
		<div class="form-group">
			<label for="username">Password:</label>
			<input class="input-sm" type="password" name="password" /><br />
		</div>
		<input class="input btn-lg" type="submit" value="Log in" />
	</form>
</div>
{% endblock %}
