{% import "page.html" as page %}
{% extends "layout.html" %}
{% block content %}

{% for round in rounds %}
<h2>Round ending {{ round.due | timestamp_long }}</h2>

<table class="table">
	<tr>
		<th>Author</th>
		<th>Post</th>
		<th>Blog</th>
		<th>Date</th>
	</tr>
	{% for post in round.posts %}
	<tr>
		<td>{{ post.author }}</td>
		<td><a href="{{ post.page_url }}">{{ post.title }}</a></td>
		<td><a href="{{ post.blog_url }}">{{ post.blog_title }}</a></td>
		<td>
			{{ post.pub_date | timestamp_short }}
			{% if not post.counts_for %}
			(Bonus!)
			{% elif post.counts_for < round.due %}
			(Late, counts for {{ post.counts_for | timestamp_short }})
			{% elif post.counts_for != round.due %}
			(Late)
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
	<h3>Missing in action:</h3>
	<p>{{ round.missing_in_action | join(', ') }}</p>
{% endfor %}
{{ page.nav('show_status', pageinfo) }}
{% endblock %}
